/* generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #141922;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

hr{
    display: none;
}

.lista-playlist{
    display: none;
}

/* aside > menu laterale */
aside{
    width: 50px;
    height: calc(100vh - 90px);
    position: relative;
    float: left;
    background-color: #000000;
}

aside > div img{
    width: 35px;
    margin: 5px 0;
    cursor: pointer;
}

#logo{
    display: flex;
    justify-content: center; 
}

.logo-grande{
    display: none;
}

.menu-alto{
    display: flex;
    flex-direction: column;
    align-items: center; 
    filter: brightness(.8);
}

.menu-alto span{
    display: none;
}

.menu-basso{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-basso img:nth-of-type(1){
    width: 40%;
}

.menu-basso img:nth-of-type(2){
    padding: 1px 3px;
    border-radius: 50%;
    background-color: #808080;
}

.menu-basso span{
    display: none;
}

/* header > bottone upgrade */

header{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12;
}

header .btn{
    padding: 10px 40px;
    margin-right: 10px;
    background-color: transparent;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}


/* main > canzoni */

main{
    width: calc(100% - 50px);
    height: calc(100vh - 190px);
    float: left;
    overflow: scroll;
    /* border: 1px solid red; */
    /* background-color: green; */
}

/* selezione categorie */
.selezione{
    color: #7d7f84;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.selezione span{
    display: inline-block;
    margin: 15px 10px;
    cursor: pointer;
}

.selected{position: relative;}
.selected::after{
    content: " ";
    width: 30px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #adff2f;
}

/* suonati recenti */
.recenti{
    padding: 0px 10px;
}

.titolo{
    color: white;
    margin: 10px 0px 20px;
}

.cont-album{
    display: flex;
    flex-wrap: wrap;
}

.album{
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.album img{
    height: 200px;
    margin-right: 10px;
}

.titolo-album{
    margin: 10px 0px;
    max-width: 200px;
    color: white;
}

.sottotitolo-album{
    font-size: 15px;
    font-weight: 600;
    color: #787b7f;
}



/* footer > player */

footer{
    width: 100%;
    height: 90px;
    display: flex;
    float: left;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}


/* brano */
.brano{
    width: 27.5%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

#icona-brano{
    display: inline-block;
}

#icona-brano img{
    height: 30px;
    margin: 0px 7px;
}

.desc{
    display: inline-block;
}

#playlist{
    font-size: 14px;
    font-weight: 600;
}

#nome-brano{
    font-size: 11px;
    color: gray;
    font-weight: 600;
}

#nome-brano span{
    display: block;
}

.cont-icone{
    display: inline-block;
    margin-left: 15px;
}

.cont-icone i{
    display: block;
    cursor: pointer;
    color: gray;
}


/* music player */
.player{
    width: 45%;
    height: 100%;
}

.player-cont{
    width: 100%;
    max-width: 300px;
    height: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #dedede;
}

.player-cont i{cursor: pointer;}

.fa-play-circle{
    font-size: 30px;
}

.timebar{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-time{
    width: 70%;
    max-width: 700px;
    border-radius: 20px;
    background-color: #5a5a5a;
    height: 5px;
}

.barra-time-passato{
    width: 10%;
    border-radius: 20px;
    background-color: #c1c1c1;
    height: 5px;
    position: absolute;
}

.tempo-passato,
.tempo-totale{
    font-size: 12px;
    margin: 0px 7px;
    color: #dedede;
}

/* controlli */
.controlli{
    width: 27.5%;
    height: 100%; 
    display: flex;
    align-items: center;
}

.controlli *{
    display: inline-block;
}

.row1{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.row1 i{
    margin: 0px 5px;
    cursor: pointer;
    font-size: 13px;
    color: #dedede;
}

.volume{
    width: 50%;
    max-width: 200px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: #5a5a5a;
    height: 5px;
}

.barra-volume{
    width: 4%;
    border-radius: 20px;
    background-color: #c1c1c1;
    height: 5px;
    position: absolute;
}


/* MEDIA QUERY */

@media screen and (min-width: 576px){

    /* aside */
    aside{
        width: 220px;
    }

    hr{
        width: 80%;
        display: block;
    }

    #logo{
        justify-content: flex-start;
        margin: 20px 10px;
    }

    #logo :first-child{
        display: none;
    }

    .logo-grande{
        display: flex;
        width: 140px;
    }
    
    .menu-alto{
        align-items: flex-start;
        margin: 10px 10px; 
    }
    
    .menu-alto img{
        width: 30px;
        vertical-align: middle;
    }

    .menu-alto span{
        display: inline-block;
        color: #5c5c5c;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    .selected2 span{
        color: white;
    }

    .selected2{position: relative;}
    .selected2::after{
        content: " ";
        height: 35px;
        position: absolute;
        top: 3px;
        left: -7px;
        transform: translateX(-50%);
        border-left: 3px solid #adff2f;
    }

    .menu-basso{
        display: block;
        padding-left: 10px;
        background-color: #000000;
    }

    .menu-basso img{
        vertical-align: middle;
        margin: 10px 0px;
    }

    .menu-basso span:nth-of-type(1){
        color: #6a6a6a;
        font-size: 13px;
    }

    .menu-basso img:nth-of-type(1){
        width: 20px;
        filter: brightness(.6);
    }

    .menu-basso span{
        display: inline-block;
        color: white;
        font-weight: 600;
    }

    /* lista playlist */
    .lista-playlist{
        display: block;
        margin: 15px 10px;
        color: white;
    }

    .lista-playlist h5{
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .crea-playlist i{
        font-size: 40px;
        vertical-align: middle;
        filter: brightness(.5);
        cursor: pointer;
    }

    .crea-playlist span{
        color: #6a6a6a;
        font-weight: 600;
        cursor: pointer;
    }

    .lista-playlist ul{
        margin: 10px 0px;
        color: #6a6a6a;
        font-size: 13px;
        font-weight: 600;
        list-style: none;
    }

    .lista-playlist ul li{
        margin: 12px 0px;
    }

    /* main */
    main{
        width: calc(100% - 220px);
    }

    .album{
        width: 150px;
        max-width: 50%;
        margin-right: 10px;
    }

    .album img {
        height: 150px;
    }

    .sottotitolo-album{
        font-size: 12px;
    }
}

@media screen and (min-width: 768px){

    #nome-brano span {
        display: inline;
    }

    .cont-icone{
        margin-left: 20px;
    }

    .cont-icone i {
        display: inline;
        margin-right: 10px;
    }

    .album {
        width: 120px;
        margin-right: 10px;
    }

    .album img {
        height: 110px;
    }

    .titolo-album{
        width: 120px;
        font-size: 12px;
    }

    .sottotitolo-album{
        width: 120px;
        font-size: 10px;
    }
}

@media screen and (min-width: 992px){
    .album{
        width: 150px;
        margin-right: 10px;
    }

    .album img {
        height: 148px;
    }

    .titolo-album{
        width: 150px;
        font-size: 12px;
    }

    .sottotitolo-album{
        width: 150px;
        font-size: 12px;
    }
}









@media screen and (max-height: 350px){
    .menu-basso{
        display: none;
    }
}

@media screen and (max-height: 190px){
    footer{
        background-color: rgba(40, 40, 40, .7);
    }

    .brano{
        width: 220px;
        margin-right: 22.55px;
        background-color: #282828;
    }
}