/* generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #141922;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/* aside > menu laterale */
aside{
    width: 50px;
    height: 100vh;
    position: relative;
    float: left;
    background-color: #000000;
}

aside > div img{
    width: 70%;
    margin: 5px 0;
    cursor: pointer;
}

#logo{
    display: flex;
    justify-content: center; 
}

.menu-alto{
    display: flex;
    flex-direction: column;
    align-items: center; 
    filter: brightness(.8);
}

.menu-basso{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-basso img:nth-child(1){
    width: 40%;
}

.menu-basso img:nth-child(2){
    padding: 1px 3px;
    border-radius: 50%;
    background-color: #808080;
}


/* header > bottone upgrade */

header{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12;
}

header .btn{
    padding: 10px 40px;
    margin-right: 10px;
    background-color: transparent;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}