/* generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #141922;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/* aside > menu laterale */
aside{
    width: 50px;
    height: calc(100vh - 90px);
    position: relative;
    float: left;
    background-color: #000000;
}

aside > div img{
    width: 70%;
    margin: 5px 0;
    cursor: pointer;
}

#logo{
    display: flex;
    justify-content: center; 
}

.menu-alto{
    display: flex;
    flex-direction: column;
    align-items: center; 
    filter: brightness(.8);
}

.menu-basso{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-basso img:nth-child(1){
    width: 40%;
}

.menu-basso img:nth-child(2){
    padding: 1px 3px;
    border-radius: 50%;
    background-color: #808080;
}


/* header > bottone upgrade */

header{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12;
}

header .btn{
    padding: 10px 40px;
    margin-right: 10px;
    background-color: transparent;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}


/* main > canzoni */

main{
    width: calc(100% - 50px);
    height: calc(100vh - 190px);
    float: left;
    overflow: scroll;
    /* border: 1px solid red; */
    /* background-color: green; */
}

/* selezione categorie */
.selezione{
    color: #7d7f84;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.selezione span{
    display: inline-block;
    margin: 15px 10px;
    cursor: pointer;
}

.selected{position: relative;}
.selected::after{
    content: " ";
    width: 30px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #adff2f;
}

/* suonati recenti */
.recenti{
    padding: 0px 10px;
}

.titolo{
    color: white;
    margin: 10px 0px 20px;
}

.cont-album{
    display: flex;
    flex-wrap: wrap;
}

.album{
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.album img{
    height: 200px;
    margin-right: 10px;
}

.titolo-album{
    margin: 10px 0px;
    max-width: 200px;
    color: white;
}

.sottotitolo-album{
    font-size: 15px;
    font-weight: 600;
    color: #787b7f;
}



/* footer > player */

footer{
    width: 100%;
    height: 90px;
    display: flex;
    float: left;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}


/* brano */
.brano{
    width: 27.5%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

#icona-brano{
    display: inline-block;
}

#icona-brano img{
    height: 30px;
    margin: 0px 7px;
}

.desc{
    display: inline-block;
}

#playlist{
    font-size: 14px;
    font-weight: 600;
}

#nome-brano{
    font-size: 11px;
    color: gray;
    font-weight: 600;
}

#nome-brano span{
    display: block;
}

.cont-icone{
    display: inline-block;
    margin-left: 15px;
}

.cont-icone i{
    display: block;
    cursor: pointer;
    color: gray;
}


/* music player */
.player{
    width: 45%;
    height: 100%;
}

.player-cont{
    width: 100%;
    max-width: 300px;
    height: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #dedede;
}

.player-cont i{cursor: pointer;}

.fa-play-circle{
    font-size: 30px;
}

.timebar{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-time{
    width: 70%;
    max-width: 700px;
    border-radius: 20px;
    background-color: #5a5a5a;
    height: 5px;
}

.barra-time-passato{
    width: 10%;
    border-radius: 20px;
    background-color: #c1c1c1;
    height: 5px;
    position: absolute;
}

.tempo-passato,
.tempo-totale{
    font-size: 12px;
    margin: 0px 7px;
    color: #dedede;
}

/* controlli */
.controlli{
    width: 27.5%;
    height: 100%; 
    display: flex;
    align-items: center;
}

.controlli *{
    display: inline-block;
}

.row1{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.row1 i{
    margin: 0px 5px;
    cursor: pointer;
    font-size: 13px;
    color: #dedede;
}

.volume{
    width: 50%;
    max-width: 200px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: #5a5a5a;
    height: 5px;
}

.barra-volume{
    width: 4%;
    border-radius: 20px;
    background-color: #c1c1c1;
    height: 5px;
    position: absolute;
}